
.ControlRow{
    width: 100%;
    text-overflow: ellipsis; 
    padding-left: 15%;
}

.ControlRow > div , button{
    display: block;
    font-size: 13px;
    font-family: proxima-nova,sans-serif;
    border: 1px solid #aaa; 
    border-radius: 4px; 
    background-color: #fff; 
    text-overflow: ellipsis; 
    color: inherit;
    margin: 2%;
    text-align: left;
    line-height: 16px;
    position: relative; 
    float: left;
}
.Dropdown-menu{
    position: absolute;
    width: 150px; 
}
.Dropdown-option, .Dropdown-placeholder {
    border: .05px solid #aaa; 
    padding: 8px 15px 0 8px ;
    background-color: #fff;
    min-height: 32px;
}

.Dropdown-option:hover{
    background-color: #ECECEC; 
    font-weight: bold;
}